# SPDX-License-Identifier: CC0-1.0

# <https://editorconfig.org/>

root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[{COPYING.txt,LICENSE.txt}]
indent_style = space
indent_size = 8

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_import-ordering = disabled # required for a regression bug in ktlint 0.48.2, should be fixed in 0.49.0

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.{diff,patch}]
trim_trailing_whitespace = false
